<form class="jumbotron" [formGroup]="loginForm" (submit)="login()">
  <div class="form-group">
    <mat-form-field class="d-block">
      <input matInput type="text" placeholder="Username" formControlName="username">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="d-block">
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
  </div>
  <div class="form-group text-center">
    <button mat-button class="btn btn-primary">Login</button>
  </div>
</form>
